{% macro render(content, position = 'center center') %}
    <span class="image">
        <img src="{{ asset('build/' ~ content) }}" alt="{{ content|image_alt }}" data-position="{{ position }}">
    </span>
{% endmacro %}