{% macro builder(page) %}
    {{ dump(page) }}
    {% for section in page %}
        <section id="{{ section.id }}">
            {% for bloc in section.blocks %}
                {% import '_macros/_builder/_blocks/' ~ bloc.module ~ '.html.twig' as module %}
                {{ module.render(bloc.content) }}
            {% endfor %}
        </section>
    {% endfor %}
{% endmacro %}