.dot-separator {
  width: 5px;
  height: 5px;
  border-radius: 50px;
  background-color: currentColor;
  margin: 0 6px;
  display: flex;
}

.flex {
  display: flex;
  align-items: center;
}

.italic {
  font-style: italic;
}