{% macro render(section) %}
    <div class="inner" id="{{ section.id }}">
        <div class="row">
            {% set ordered = ordered_blocks(section.blocks) %}
            {% for block in ordered %}
                <div class="col-6 col-12-small">
                    {% import '_macros/_builder/_blocks/' ~ block.module ~ '.html.twig' as module %}
                    {{ module.render(block.content) }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}