main {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.sections {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 300px;
}

.sections:nth-child(odd) {
  background-color: #e1e1e1;
}

.sections > div {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.build-container {
  padding: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.image-container {
  height: 260px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
}