{% extends 'emails/base-newsletter.html.twig' %}

{% block body %}
    <h1>Hello</h1>

    <p>
        Articles :
    </p>
    <ul>
        {% for article in articles %}
            <li>{{ article.title }}</li>
        {% endfor %}
    </ul>
{% endblock %}