{% extends 'base.html.twig' %}

{% block body %}
    {% if articles is defined %}
        <p>Total: {{ totalItems }}</p>
        <p>Pages count: {{ pages }}</p>
        <div class="articles-container">
            {% for article in articles %}
                <div class="article-preview">
                    <h3>{{ article.title }}</h3>
                    <div class="article-image-preview" style="background-image: url('{{ article.imageUrl }}')"></div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
